* {
    margin: 0;
}

body {
    background-color: #05081b;
}

canvas {
    position: absolute;
    outline: black solid var(--unit);
    left: calc((100% - var(--unit) * var(--width)) / 2);
    top: calc((100% - var(--unit) * var(--height)) / 2);
    background-color: rgba(0, 0, 0, 0);
}