* {
    /*Top Right Bottom Left*/
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

@font-face {
    font-family: VCR_OSD; src: url('fonts/VCR_OSD_MONO_1.001.ttf');
    font-family: Arcology; src: url('fonts/Arcology.ttf');
}

body {
    background-color: #343538;
    --x: 1;
    --y: 1;
    --g1: yellow;
    --g2: rgb(160, 160, 20);
    --g3: rgb(255, 255, 210);
    --s1: #bbbbbb;
    --s2: #666666;
    --s3: #f1f1f1;
    --b1: orange;
    --b2: brown;
    --b3: rgb(255, 200, 200);
    --u1: black;
    --u2: grey;
    overflow: hidden;
    font-family: Arcology;
    color: rgb(75, 75, 75);
}

canvas {
    position: absolute;
    left: calc((100% - var(--unit) * var(--width)) / 2);
    top: calc((100% - var(--unit) * var(--height)) / 2);
    background-color: rgba(0, 0, 0, 0);
    /* filter: grayscale(100%); */
}

.cover {
    position: absolute;
    width: calc(var(--unit) * var(--width));
    height: calc(var(--unit) * var(--height));
    left: calc((100% - var(--unit) * var(--width)) / 2);
    top: calc((100% - var(--unit) * var(--height)) / 2);
    background-color: rgba(0, 0, 0, 0);
}
.cover.one {
    transition: backdrop-filter 0.2s ease-in-out;
    transition-delay: 0.2s;
}
.cover.two {
    transition: backdrop-filter 0.4s ease-in-out;
}
.cover.one.on {
    /*display: none; Not sure if I want greyscale; I think I do. */
    -webkit-backdrop-filter: grayscale(100%);
    backdrop-filter: grayscale(100%);
}
.cover.two.on {
    -webkit-backdrop-filter: blur(calc(var(--unit) / 5));
    backdrop-filter: blur(calc(var(--unit) / 5));
}

@keyframes textFly {
    from {
        top: calc(var(--unit) * -5);
    } to {
        top: 100%;
    }
}
@keyframes menuFly {
    from {
        top: -100%;
    } to {
        top: calc((100% - var(--unit) * (var(--height) - 0.6)) / 2);
    }
}
@keyframes menuFlyOut {
    from {
        top: calc((100% - var(--unit) * (var(--height) - 0.6)) / 2);
    } to {
        top: 100%;
    }
}

.bigText {
    position: absolute;
    font-size: calc(var(--unit) * 1.5);
    text-align: center;
    width: 100%;
    top: calc(var(--unit) * -5);
    color: black;
    display: none;
}
.small {
    font-size: calc(var(--unit) / 2);
    margin: auto;
    margin-top: calc(var(--unit) * 1);
    text-overflow: initial;
    -webkit-text-stroke-width: 0;
    width: calc(var(--unit) * 6);
}
#NextLevel {
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: calc(var(--unit) / 15);
    -webkit-text-stroke-color: black;
}
.bigText.on {
    display: block;
    animation: textFly 1.2s cubic-bezier(.2, 1, .8, 0) 0.4s;
}

#Pause {
    position: absolute;
    width: var(--unit);
    height: var(--unit);
    top: calc((100% - var(--unit) * (var(--height) - 0.6)) / 2);
    right: calc((100% - var(--unit) * (var(--width) - 0.6)) / 2);
    background-image: url("images/Pause.png");
    background-size: var(--unit);
    cursor: pointer;
}
#Pause:hover {
    background-position-y: bottom;
    height: calc(var(--unit) * 11 / 10);
    top: calc((100% - var(--unit) * (var(--height) - 0.4)) / 2);
}

.menu {/* All the menu pages. */
    position: absolute;
    top: -100%;
    left: calc((100% - var(--unit) * (var(--width) - 0.6)) / 2);
    width: calc(var(--unit) * (var(--width) - 0.6));
    height: calc(var(--unit) * (var(--height) - 0.6));
}
.menu.on {
    animation: menuFly 0.4s cubic-bezier(.4, 1, .6, 1) 0s 1 both;
}
.menu.off {
    animation: menuFlyOut 0.3s cubic-bezier(.31, .68, .46, .83) 0s 1 none;
    top: 100%;
}

.title {
    font-size: var(--unit);
    text-align: center;
    color: black;
    margin-top: calc(var(--unit) * 1 / 5);
}

.settings {
    position: absolute;
    left: calc(var(--unit) * 3 / 10);
    top: calc(var(--unit) * 3 / 10);
    width: calc(var(--unit) * 9 / 10);
    height: calc(var(--unit) * 9 / 10);
    background-image: url("images/Buttons.png");
    background-size: calc(var(--unit) * 9 / 5);
    cursor: pointer;
}
.settings:hover {
    background-position-x: calc(var(--unit) / 10);
}
.back {
    position: absolute;
    right: calc(var(--unit) * 0.3);
    top: calc(var(--unit) * 0.3);
    width: calc(var(--unit) * 0.9);
    height: calc(var(--unit) * 0.9);
    background-image: url("images/Buttons.png");
    background-size: calc(var(--unit) * 9 / 5);
    background-position-x: right;
    cursor: pointer;
}
.back:hover {
    background-position-x: calc(var(--unit) * 0.81);
}
.back:focus,.settings:focus {
    border-bottom: calc(var(--unit) * 0.06) solid black;
    outline: none;
}

.button {
    font-size: calc(var(--unit) * 0.5);
    line-height: calc(var(--unit) * 0.7);
    margin: auto;
    margin-top: calc(var(--unit));
    width: calc(var(--unit) * 3.5);
    height: calc(var(--unit) * 0.7);
    cursor: pointer;
    color:rgb(75, 75, 75);
}
.button:hover {
    height: calc(var(--unit) * 0.8);
    margin-top: calc(var(--unit) * 0.9);
}
.button:focus {
    padding-left: calc(var(--unit) * 0.4);
    color: black;
    outline: none;
}
.button.play {
    margin-top: calc(var(--unit) * 2.5);
}
.button.play:hover {
    margin-top: calc(var(--unit) * 2.4);
}
.button span {
    /*visibility: hidden;*/
    font-size: calc(var(--unit) / 3);
    line-height: calc(var(--unit) / 3);
    letter-spacing: calc(var(--unit) / -10);
}

#Level {
    position: absolute;
    right: 0;
    bottom: 0;
    /*border-left: calc(var(--unit) * 0.1) solid black;*/
    width: calc(var(--unit) * 5.5);
    height: calc(var(--unit) * (var(--height) - 2.6));
    padding: 0 calc(var(--unit) * 0.2) 0 calc(var(--unit) * 0.4); /*Top Right Bottom Left*/
    color: black;
}
.lsize {
    position: absolute;
    left: calc(var(--unit) * 0.36);
    top: 0;
    width: calc(var(--unit) * var(--width) * 0.353);
    height: calc(var(--unit) * var(--height) * 0.353);
}
#LNumber {
    color:rgba(0, 0, 0, 0.45);
    text-align: center;
    font-size: calc(var(--unit) * 2.4);
    line-height: calc(var(--unit) * var(--height) * 0.33);
}
#LCanvas {
    background-color: rgba(0, 0, 0, 0.1);
    /*filter: grayscale(100%) contrast(180%) brightness(80%);*/
}

.scroll {
    position: absolute;
    left: calc(var(--unit) * -0.1);
    bottom: 0;
    padding-right: calc(var(--unit) * 0.2);
    width: calc(var(--unit) * 9.2);
    height: calc(var(--unit) * 9.4);
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
    width: calc(var(--unit) * 0.15);
}
.scroll::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
}
.scroll::-webkit-scrollbar-thumb {
    background: black;
}
.scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(50, 50, 50); 
}
#Select {
    margin-top: calc(var(--unit) * -0.15);
    border-spacing: calc(var(--unit) * 0.15);
}
#Select tr {
    height: calc(var(--unit) * (9.3 / 4 - 0.3));
    font-size: calc(var(--unit) * 0.7);
    text-align: center;
    color: black;
}
#Select td {
    width: calc(var(--unit) * 9.3 / 4);
    background-color: rgba(0, 0, 0, 0.1);
    line-height: calc(var(--unit) * (9.3 / 4 - 0.3));
    padding: 0;
}
#Select td.locked {
    color: rgba(0, 0, 0, 0.5);
}
#Select td:not(.locked):focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    outline: none;
}

#Select td:not(.locked) .bar {
    height: calc(var(--unit) * 0.15);
    width: 100%;
    margin-top: calc(var(--unit) * -0.1);
}
.bar {
    background-image: linear-gradient(-0.125turn, var(--u1), var(--u2), var(--u1));
}
.bar.bronze {
    background-image: linear-gradient(0.125turn, var(--b1), var(--b2), var(--b1), var(--b3), var(--b1));
}
.bar.silver {
    background-image: linear-gradient(0.125turn, var(--s1), var(--s2), var(--s1), var(--s3), var(--s1));
}
.bar.gold {
    background-image: linear-gradient(0.125turn, var(--g1), var(--g2), var(--g1), var(--g3), var(--g1));
}

#LRankHolder {
    margin-top: calc(var(--unit) * (var(--height) * 0.353 + 0.05));
    margin-left: calc(var(--unit) * -0.03);
    width: calc(var(--unit) * var(--width) * 0.353);
    font-size: calc(var(--unit) * 0.35);
    text-align: center;
    padding: calc(var(--unit) * 0.2) 0 calc(var(--unit) * 0.2) 0;
    background: linear-gradient(-0.125turn, black, black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
}
#LRankHolder.gold {
    background: linear-gradient(0.125turn, var(--g1) 40%, var(--g2) 46%, var(--g1), var(--g3) 54%, var(--g1) 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
}
#LRankHolder.silver {
    background-image: linear-gradient(0.125turn, var(--s1) 35%, var(--s2) 43%, var(--s1), var(--s3) 57%, var(--s1) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
}
#LRankHolder.bronze {
    background-image: linear-gradient(0.125turn, var(--b1) 35%, var(--b2) 43%, var(--b1), var(--b3) 57%, var(--b1) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
}
.line {
    position: relative;
    height: calc(var(--unit) * 0.05);
    background-color: black;
    margin-top: calc(var(--unit) * 0.18);
    width: calc(var(--unit) * 0.85);
    transition-duration: 0.3s;
}
.line.left {
    float: left;
}
.line.right {
    float: right;
}
.line.gold {
    width: calc(var(--unit) * 1.4);
}
.line.silver,.line.bronze {
    width: calc(var(--unit) * 1.25);
}










/*
.orange {
    color: var(--orange);
}
.green {
    color: var(--green);
}

#LBanner {
    overflow: hidden;
}
#Hint {
    background-color: rgba(0, 255, 0, 0.3);
}

#LRequ {
    margin-top: calc(var(--unit) * (var(--height) + 1.5) * 0.32);
    width: calc(var(--unit) * var(--width) * 0.32);
    font-size: calc(var(--unit) / 5);
}
#LRequ td {
    height: calc(var(--unit) * 1.2);
}
#LRequ td.tall {
    font-size: calc(var(--unit) * 0.5);
    padding-right: calc(var(--unit) * 0.15);
}
#Level .button {
    width: 100%;
    margin-top: calc(var(--unit) * 0.2);
    font-size: calc(var(--unit) * 0.5);
}
#Level .button:hover {
    height: calc(var(--unit) * 0.8);
    margin-top: calc(var(--unit) * 0.1);
}


div.banner {
    position: absolute;
    left: calc(50% - var(--unit) * 0.7);
    transform: rotate(45deg);
    height: calc(var(--unit) * 0.5);
    border-top: calc(var(--unit) * 0.1) solid black;
    border-bottom: calc(var(--unit) * 0.1) solid black;
    width: 100%;
}
div.banner.orange {
    border-color: var(--orange);
}
div.banner.green {
    border-color: var(--green);
}
div.unbanner {
    width: 0;
    margin: auto;
    padding-left: calc(var(--unit) * 0.5);
    text-align: center;
    font-size: calc(var(--unit) * 0.4);
    line-height: calc(var(--unit) * 1.07);
    transform: rotate(315deg);
}
*/