* {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

@font-face {
    font-family: VCR_OSD; src: url('fonts/VCR_OSD_MONO_1.001.ttf');
    font-family: Arcology; src: url('fonts/Arcology.ttf');
}

body {
    background-color: #343538;
    --x: 1;
    --y: 1;
    --orange: #db7623;
    --green: #2db530;
    overflow: hidden;
    font-family: Arcology;
    color: rgb(75, 75, 75);
}

canvas {
    position: absolute;
    left: calc((100% - var(--unit) * var(--width)) / 2);
    top: calc((100% - var(--unit) * var(--height)) / 2);
    background-color: rgba(0, 0, 0, 0);
    /* filter: grayscale(100%); */
}

.cover {
    position: absolute;
    width: calc(var(--unit) * var(--width));
    height: calc(var(--unit) * var(--height));
    left: calc((100% - var(--unit) * var(--width)) / 2);
    top: calc((100% - var(--unit) * var(--height)) / 2);
    background-color: rgba(0, 0, 0, 0);
}
.cover.one {
    transition: backdrop-filter 0.2s ease-in-out;
    transition-delay: 0.2s;
}
.cover.two {
    transition: backdrop-filter 0.4s ease-in-out;
}
.cover.one.on {
    -webkit-backdrop-filter: grayscale(100%);
    backdrop-filter: grayscale(100%);
}
.cover.two.on {
    -webkit-backdrop-filter: blur(calc(var(--unit) / 10));
    backdrop-filter: blur(calc(var(--unit) / 10));
}

@keyframes textFly {
    from {
        top: calc(var(--unit) * -5);
    } to {
        top: 100%;
    }
}
@keyframes menuFly {
    from {
        top: -100%;
    } to {
        top: calc((100% - var(--unit) * (var(--height) - 0.6)) / 2);
    }
}
@keyframes menuFlyOut {
    from {
        top: calc((100% - var(--unit) * (var(--height) - 0.6)) / 2);
    } to {
        top: 100%;
    }
}

.bigText {
    position: absolute;
    font-size: calc(var(--unit) * 1.5);
    text-align: center;
    width: 100%;
    top: calc(var(--unit) * -5);
    color: black;
    display: none;
}
.small {
    font-size: calc(var(--unit) / 2);
    margin: auto;
    margin-top: calc(var(--unit) * 1);
    text-overflow: initial;
    -webkit-text-stroke-width: 0;
    width: calc(var(--unit) * 6);
}
#NextLevel {
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: calc(var(--unit) / 15);
    -webkit-text-stroke-color: black;
}
.bigText.on {
    display: block;
    animation: textFly 1.2s cubic-bezier(.2, 1, .8, 0) 0.4s;
}

#Pause {
    position: absolute;
    width: var(--unit);
    height: var(--unit);
    top: calc((100% - var(--unit) * (var(--height) - 0.6)) / 2);
    right: calc((100% - var(--unit) * (var(--width) - 0.6)) / 2);
    background-image: url("images/Pause.png");
    background-size: var(--unit);
    cursor: pointer;
}
#Pause:hover {
    background-position-y: bottom;
    height: calc(var(--unit) * 11 / 10);
    top: calc((100% - var(--unit) * (var(--height) - 0.4)) / 2);
}

.menu {/* All the menu pages. */
    position: absolute;
    top: -100%;
    left: calc((100% - var(--unit) * (var(--width) - 0.6)) / 2);
    width: calc(var(--unit) * (var(--width) - 0.6));
    height: calc(var(--unit) * (var(--height) - 0.6));
}
.menu.on {
    animation: menuFly 0.4s cubic-bezier(.4, 1, .6, 1) 0s 1 both;
}
.menu.off {
    animation: menuFlyOut 0.3s cubic-bezier(.31, .68, .46, .83) 0s 1 none;
    top: 100%;
}

.title {
    font-size: var(--unit);
    text-align: center;
    color: black;
    margin-top: calc(var(--unit) * 1 / 5);
}

.settings {
    position: absolute;
    left: calc(var(--unit) * 3 / 10);
    top: calc(var(--unit) * 3 / 10);
    width: calc(var(--unit) * 9 / 10);
    height: calc(var(--unit) * 9 / 10);
    background-image: url("images/Buttons.png");
    background-size: calc(var(--unit) * 9 / 5);
    cursor: pointer;
}
.settings:hover {
    background-position-x: calc(var(--unit) / 10);
}
.back {
    position: absolute;
    right: calc(var(--unit) * 0.3);
    top: calc(var(--unit) * 0.3);
    width: calc(var(--unit) * 0.9);
    height: calc(var(--unit) * 0.9);
    background-image: url("images/Buttons.png");
    background-size: calc(var(--unit) * 9 / 5);
    background-position-x: right;
    cursor: pointer;
}
.back:hover {
    background-position-x: calc(var(--unit) * 0.8);
}

.button {
    font-size: calc(var(--unit) * 0.5);
    line-height: calc(var(--unit) * 0.7);
    margin: auto;
    margin-top: calc(var(--unit));
    width: calc(var(--unit) * 3.5);
    height: calc(var(--unit) * 0.7);
    cursor: pointer;
    color:rgb(75, 75, 75);
}
.button:hover {
    height: calc(var(--unit) * 0.8);
    margin-top: calc(var(--unit) * 0.9);
}
.button:focus {
    padding-left: calc(var(--unit) * 0.4);
    color: black;
    outline: none;
}
.button.play {
    margin-top: calc(var(--unit) * 2.5);
}
.button.play:hover {
    margin-top: calc(var(--unit) * 2.4);
}
.button span {
    /*visibility: hidden;*/
    font-size: calc(var(--unit) / 3);
    line-height: calc(var(--unit) / 3);
    letter-spacing: calc(var(--unit) / -10);
}

#Level {
    position: absolute;
    right: 0;
    bottom: 0;
    /*border-left: calc(var(--unit) * 0.1) solid black;*/
    width: calc(var(--unit) * 5.5);
    height: calc(var(--unit) * (var(--height) - 2.6));
    padding: 0 calc(var(--unit) * 0.2) 0 calc(var(--unit) * 0.4); /*Top Right Down Left*/
    color: black;
}
.lsize {
    position: absolute;
    left: calc(var(--unit) * 0.4);
    top: 0;
    width: calc(var(--unit) * var(--width) * 0.32);
    height: calc(var(--unit) * var(--height) * 0.32);
}
#LNumber {
    color:black;
    text-align: center;
    font-size: calc(var(--unit) * 2);
    line-height: calc(var(--unit) * var(--height) * 0.3);
}
#LBanner {
    overflow: hidden;
}
#Hint {
    background-color: rgba(0, 255, 0, 0.3);
}

#LRequ {
    margin-top: calc(var(--unit) * (var(--height) + 1.5) * 0.32);
    width: calc(var(--unit) * var(--width) * 0.32);
    font-size: calc(var(--unit) / 5);
}
#LRequ td {
    height: calc(var(--unit) * 1.2);
}
#LRequ td.tall {
    font-size: calc(var(--unit) * 0.5);
    padding-right: calc(var(--unit) * 0.15);
}
#Level .button {
    width: 100%;
    margin-top: calc(var(--unit) * 0.2);
    font-size: calc(var(--unit) * 0.5);
}
#Level .button:hover {
    height: calc(var(--unit) * 0.8);
    margin-top: calc(var(--unit) * 0.1);
}


div.banner {
    position: absolute;
    left: calc(50% - var(--unit) * 0.7);
    transform: rotate(45deg);
    height: calc(var(--unit) * 0.5);
    border-top: calc(var(--unit) * 0.1) solid black;
    border-bottom: calc(var(--unit) * 0.1) solid black;
    width: 100%;
}
div.banner.orange {
    border-color: var(--orange);
}
div.banner.green {
    border-color: var(--green);
}
div.unbanner {
    width: 0;
    margin: auto;
    padding-left: calc(var(--unit) * 0.5);
    text-align: center;
    font-size: calc(var(--unit) * 0.4);
    line-height: calc(var(--unit) * 1.07);
    transform: rotate(315deg);
}

















.orange {
    color: var(--orange);
}
.green {
    color: var(--green);
}

/*
#Cursor {
    position: absolute;
    left: var(--cx);
    top: var(--cy);
    width: var(--cw);
    height: var(--ch);
    display: var(--cd);
}
#Cursor .line {
    position: absolute;
    width: 100%;
    height: var(--cp);
    background-color: black;
}
#Cursor .side {
    position: absolute;
    width: var(--cp);
    height: calc(var(--cp) * 2);
    background-color: black;
}
#Cursor .top {
    top: 0;
}
#Cursor .bottom {
    bottom: 0;
}
#Cursor .left {
    left: 0;
}
#Cursor .right {
    right: 0;
}
*/
